a.login {
  color: #007bff;
  text-decoration: underline;
}
.attalos-score {
  border: 2px solid #007bff !important;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}
/* The max width is dependant on the container (more info below) */
.popover {
  max-width: 450px !important; /* Max Width of the popover (depending on the container!) */
  position: absolute !important;
  margin-top: 290px !important;
}
.not-logged-in {
  width: 90%;
}
.card_text {
  max-width: 300px;
  margin-top: 25px;
  margin-left: 10px;
}
.border-attalos {
  border: 2px solid #d5b65e !important;
}
.bg-attalos {
  background-color: #34b185 !important;
  color: white !important;
}
.no-border {
  border: none !important;
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: grey;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.position_icon {
  height: 40px;
}
.position {
  font-weight: 600;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  border-radius: 12px;
  margin-left: 8px;
  padding: 0px 8px;
}
.position_number {
  text-align: center; /* Center text horizontally within span */
}

.attalos_links {
  padding: 8px 20px;
  background-color: #34b386;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid #d5b65e;
}

.attalos_links:first-child {
  margin-right: 8px;
}

.links_wrapper {
  margin-bottom: 12px;
}

.attalos_score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34b386;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 50px;
  border: 2px solid #d5b65e;
  color: white;
}

.row > div:nth-child(2) {
  flex-grow: 1;
}

.login_card {
  padding-top: 12px;
  margin-right: 32px;
}

.login_card > div {
  display: inline;
  padding-top: 8px;
  border: 1px solid rgb(122, 113, 113);
  border-radius: 4px;
  padding: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
}

#product_title {
  margin-top: 0px;
}

.row {
  display: flex;
  margin-right: 32px;
}

.card_container {
  display: none;
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: white;
  z-index: 99;
  width: 450px;
  border: 1px solid #a39f9b;
  border-radius: 4px;
  padding: 16px;
}

.card_container td svg {
  width: 20px;
  display: inline-block;
  border-radius: 50%;
}
